.login-block{
    justify-content: center;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    top: 25%;
    left: 25%;
    width: 50%;
    background-color: white;
    padding: 15px;
    overflow-y: scroll;
    
}
.welcome-txt{
    font-style: italic;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 24px;
}
input {
    margin: 7.5px;
    width: 80%;
}

label {
    margin: 7.5px;
    // width: 20%;
}




